@font-face {
  src: url(fonts/OpenSans-Regular.09aeafa1.ttf);
  font-family: open-sans;
}
@font-face {
  src: url(fonts/Poppins-Bold.9d82f769.ttf);
  font-family: poppins;
}

:root {
  --primary-color: #3a4052;
  --primary-white: #fff;
  --primary-contras: #81dAFA;
  --primary-blue: #2b2470;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  font-family: open-sans, sans-serif;
  line-height: 1.5;
  background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.8)),
             url(img/landing_page_image.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.showcase {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-white);
  background: transparent;
  padding: 0 20px;
}

.content {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 0;
  z-index: 2;
}

.content__intro {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--primary-contras);
  letter-spacing: 0.05rem;
}
.content__heading {
  font-family: poppins, sans-serif;
  /* font-size: 7.5vmin; */
  line-height: 1.2;
  margin-bottom: 10px;
}

.content__paragraph {
  width: 100%;
  max-width: 680px;
  margin: 0.5rem 0;
  letter-spacing: 0.025rem;
}

.focus-text {
  display: inline-block;
  position: relative;
  color:var(--primary-contras);
  cursor: pointer;
}

.focus-text--sm{
  position: relative;
    font-size: 1.2rem;
    font-family: poppins,sans-serif;
    letter-spacing: 0.05rem;
}
.focus-text--sm::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  border-radius: 100vh;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 140vh;
  height: 100%;
  overflow: hidden;
}

.logo{
  width: 70px;
  margin: 0 0 0.8rem 0;
}

.showcase__img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.78);
  position: absolute;
}

.form{
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    z-index: 30;
}

.form_group{
    position: relative;
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    margin: 0.5rem 0;
}


.form__email,.form__phone{
    position: relative;
    width: 100%;
    padding: 0.8rem 3rem;
    font-family: open-sans,sans-serif;
    color: var(--primary-white);
    outline: none;
    background: transparent;
    border: 2px solid currentColor;
    border-radius: 100vh;
}

input::placeholder{
    font-family: open-sans,sans-serif;
    font-size: inherit;
    color: var(--primary-contras);
}

.form__email:focus,
.form__phone:focus{
    outline: 0;
    background: transparent !important;
    border: 2px solid var(--primary-contras);
}


input:focus::before{
  width: 100%;
}

.label{
    position: absolute;
    top: 50%;
    left: 12%;
    color: var(--primary-contras);
    transform: translate(-80%,-50%);
    z-index: 30;
}


.btn {
  display: inline-block;
  padding: 12px 0;
  width: 70%;
  background: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  color: var(--primary-white);
  border-radius: 20vh;
  font-weight: 600;
  letter-spacing: 0.07rem;
  font-family: open-sans,sans-serif;
  margin: 0.5rem 0 0 0;
  opacity: 0.7;
  transition: 300ms ease;
  z-index: 20;
  opacity: 1;
  cursor: pointer;
}

.btn:hover,.btn:focus {
  transform: scale(0.98);
  outline: 0;
  color: currentColor;
}

@media (min-width:768px){
  .showcase{
    justify-content: center;
  }
  .content{
    padding: 1rem;
  }
}

